*{
    margin: 0;
    padding: 0;
}

body{
    color: rgba(250, 246, 246, 0.726);
    display: flex;
    flex-direction: column; 
    background: linear-gradient(to left, #780206,#061161);  
}

header nav {
    display: flex;
    flex-direction: row;
    padding: 4 5px;
    
}
header nav h4{
    text-align: center;
    font-size: smaller;
}
header nav ul{
    display: flex;
    margin-left: auto;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: burlywood;
    padding: 4px 8px;
}

button{
    background-color:rgba(113, 129, 199, 0.692);
    border-color:rgba(113, 129, 199, 0.692);
    outline-color:rgba(113, 129, 199, 0.692);
}
button :hover{
    background-color: rgba(66, 45, 116, 0.404);
    border-color: rgba(66, 45, 116, 0.404);
    outline-color: rgba(66, 45, 116, 0.404);
}
main{
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}
main h3{
    text-align: center;   
    text-shadow: 1px 2px #d3cdcd; 
    color: rgb(147, 147, 158);
}
main div.picture img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
main div.picture{
    margin: 5px auto;
}
#cv img{
    border-radius: 0;
    width: 50px;
    height: 50px;
    position:relative;
    left: -150px;
}

#cv-text{
    position: relative;
    left: -150px;
    color:rgb(133, 136, 130)
}
a{
    text-decoration: none;
    color: inherit;
    z-index: 10;
}

main div.technologies{
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(83, 82, 82, 0.644)0%, rgba(49, 47, 47, 0.657)25%, rgba(49, 47, 47, 0.6)50%, rgba(209, 206, 206, 0.657)75%, rgba(209, 206, 206, 0.657)0%, rgba(49, 47, 47, 0.657)25%, rgba(49, 47, 47, 0.6)50%, rgba(83, 82, 82, 0.6444)100%)
}

main div.technologies img{
    width: 40px;
    height: 50px;
    padding: 2px 8px;
    flex: 2 0 40px;
}
main .techtitle{
    text-shadow: 1px 2px #d3cdcd;
    color: rgb(147, 147, 158);
}


footer div#socials{
    padding: 0 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: smaller;
}

footer div#socials div.main{
    padding-right: 10px;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}
footer div#socials img{
    width: 20px;
    height:20px;
    padding: 10px;
}
@media screen and (min-width:468px) {
    header nav h4{
        text-align: center;
        font-size: 1.2rem;
    }
    header nav ul{
        margin-left: auto;
    }
    main h3{
        font-size: 2rem;
    }
    main div.picture img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    main div.technologies img{
        width: 80px;
        height: 100px;
        padding: 2px 8px;
        flex: 2 0 50px;
    }
    main div.technologies{
        justify-content: center;
    }
    
}
